html * {
  font-family: 'Poppins', sans-serif;
}

/* Bootstrap tweaks */

.card {
  border-color:rgb(164, 190, 123);
  border-style: solid solid hidden solid;
  border-width: 0.15em;
}

.card-img-top {
  width: 100%;
  height: 16em;
  object-fit: cover;
}

.list-group-horizontal > .list-group-item {
  border: none;
}

#info-modal-img {
  width: 100%;
}

.table {
  margin-bottom: 0;
}

.spacing {
  height: 1.5em;
}

.bid {
  background-color: #285430;
}

.bid:hover {
  background-color: blanchedalmond;
  outline: none !important;
}

.info {
  background-color: rgb(164, 190, 123);
}

.navmod {
  background-color: #285430 !important;
}

.roundy {
  border-radius: 20%;
}

.navlink {
  color: white;
  background-color: #E5D9B6;
  text-decoration: none;
  padding: 0.6em;
}

.navlink:hover {
  color:rgb(164, 190, 123);
}

#footer{
  padding: 7% -5%;
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
}
.bi{
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
  margin: 5em;
}