<%- include('partials/header') %>
<section id="faqtext" style="margin-top:1em;">
  <div class="image-cont">
    <div class="container">
      <h1>Frequently Asked Question</h1><br>
      <div class="question">
        <br>
        <p><b>Q) Where will I plant my veggie/fruit?.</b></p>
        <p>A) We will provide a sensor integrated modular vase, where you can plant and we continuously monitor</p>
      </div>
      <div class="question">
        <p><b>Q) Why and How?</b></p>
        <p>A) Why because organic food makes you healthy, it is easy to implement and a market ecosystem is just a click away. Register as a user in our profile, get monitored data and start bidding!</p>
      </div>
      <div class="question">
        <p><b>Q) How do I sell?</b></p>
        <p>A) Once bidding is over you manually handover it to the customer and the surplus belongs to us. Don't worry we will come and collect those.</p>
      </div>
      <br><br><br><br><br>
    </div>
  </div>
</section>
<%- include('partials/footer') %>
