<%- include('partials/header') %>
<section>
  <br><br><br><br><br><br><br><br>
  <div class="d-flex justify-content-center">
       <!--i class="fas fa-key fa-6x"></i-->
       <h1 class="display-3">Registration successfull!!</h1>
       <p class="secret-text"></p>
     </div>
 </section>
 <section>
   <br><br><br>
  <div class="d-flex justify-content-center">
       <form action="/sucess" method="POST">
         <button type="submit" class="btn btn-dark">Go to login</button>
       </form>
     </div>
</section>



 <br><br><br><br><br><br>
 <%- include('partials/footer') %>
