<footer id="footer">
  <br>
<i class="social-icon fa-brands fa-facebook"></i>
<i class="social-icon fa-brands fa-twitter"></i>
<i class="social-icon fa-brands fa-instagram"></i>
<i class="social-icon fa-solid fa-envelope"></i>
    <p>© Copyright Zenith</p>

  </footer>


</body>

</html>
